@model PucsMVC.Models.EF.Modelo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Modelo</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" id="ModeloForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeModelo"></label>
                <input asp-for="NomeModelo" class="form-control" />
                <span asp-validation-for="NomeModelo" class="text-danger k-invalid-msg" data-for="NomeModelo"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarcaId" class="control-label"></label>
                <select asp-for="MarcaId" class="form-control" asp-items="ViewBag.MarcaId"></select>
                <span asp-validation-for="MarcaId" class="text-danger"></span>

            </div>
            <div class="form-group text-right">
                <a asp-action="Index" class="k-button" style="margin-right:10px;"><span class="k-icon k-i-cancel"></span>&nbsp;Cancel</a>
                <kendo-button type="submit" name="confirmCreate" icon="check" class="k-primary">Create</kendo-button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#ModeloForm").kendoValidator({
            // You can define your custom rules here:
            //rules: {}
        });
    })
</script>
